In [1]:
import pandas as pd

my_df = pd.read_csv("feature_selection_sample_data.csv")
my_df

    output  input1  input2  input3  input4
0      564     534     536     466     599
1      182     264     103     244     519
2      323     272     339     609     474
3      438     416     444     330     582
4      547     520     464     104     412
5      291      81     415     705     444
6      436     380     386     408     532
7      656     549     596     387     443
8      349     431     364     672     420
9      540     574     611     182     422
10     373     313     350     398     504
11     252     281     266     461     528
12     419     323     377     487     517
13     238      55     350     511     495
14     387     397     454     779     481
15     522     463     424     289     541
16     531     574     638     702     453
17     391     337     261     236     463
18     374     433     412     367     485
19     284     332     294     574     566
20     598     497     523     420     547
21     416     509     515     604     574
22     330     351     406     152     472
23     232     281     307     274     461
24     598     563     492     565     597
25     418     452     465     569     454
26     490     486     459     204     418
27     544     429     502     106     588
28     404     386     395     749     429
29     532     509     486     305     422
30     553     514     455     412     466
31     598     594     645     407     600
32     496     362     439     752     484
33     562     585     551     520     519
34     617     389     948     229     555
35     489     543     619     424     467
36     625     592     557     407     422
37     358     449     442     371     582
38     585     514     529     557     465
39     410     420     478     359     542
40     296     303     346     692     544
41     361     430     442     188     535
42     405     323     362     368     433
43     402     478     511     156     598
44     573     551     628     486     517
45     329     407     359     667     582
46     339     387     414     119     523
47     587     409     838     311     495
48     471     480     535     702     522
49     329     271     217     792     596
50     449     477     407     305     520
51     615     535     561     630     423
52     334     321     342     350     486
53     367     376     400     727     518
54     631     525     592     482     539
55     376     395     459     738     558
56     349     448     411     594     519
57     173     271     265     410     433
58     533     458     461     502     401
59     190     306     243     575     241

In [3]:
correlation_matrix = my_df.corr()
correlation_matrix

          output    input1    input2    input3    input4
output  1.000000  0.789747  0.795518 -0.128295  0.086331
input1  0.789747  1.000000  0.610206 -0.140955  0.074541
input2  0.795518  0.610206  1.000000 -0.128990  0.121853
input3 -0.128295 -0.140955 -0.128990  1.000000 -0.020888
input4  0.086331  0.074541  0.121853 -0.020888  1.000000