In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [2]:
X = pd.DataFrame({"input1" : [1,2,3,4,5],
                  "input2" : ["A","A","B","B","C"],
                  "input3" : ["X","X","X","Y","Y"]})
X

   input1 input2 input3
0       1      A      X
1       2      A      X
2       3      B      X
3       4      B      Y
4       5      C      Y

In [3]:
categorical_vars = ["input2", "input3"]

one_hot_encoder = OneHotEncoder(sparse_output=False, drop="first")
encoder_vars_array = one_hot_encoder.fit_transform(X[categorical_vars])
encoder_vars_array

array([[0., 0., 0.],
       [0., 0., 0.],
       [1., 0., 0.],
       [1., 0., 1.],
       [0., 1., 1.]])

In [4]:
encoder_feature_names = one_hot_encoder.get_feature_names_out(categorical_vars)
encoder_feature_names

array(['input2_B', 'input2_C', 'input3_Y'], dtype=object)

In [5]:
encoder_vars_df = pd.DataFrame(encoder_vars_array, columns=encoder_feature_names)
encoder_vars_df

   input2_B  input2_C  input3_Y
0       0.0       0.0       0.0
1       0.0       0.0       0.0
2       1.0       0.0       0.0
3       1.0       0.0       1.0
4       0.0       1.0       1.0

In [6]:
X_new = pd.concat([X.reset_index(drop=True), encoder_vars_df.reset_index(drop=True)], axis=1)
X_new

   input1 input2 input3  input2_B  input2_C  input3_Y
0       1      A      X       0.0       0.0       0.0
1       2      A      X       0.0       0.0       0.0
2       3      B      X       1.0       0.0       0.0
3       4      B      Y       1.0       0.0       1.0
4       5      C      Y       0.0       1.0       1.0

In [7]:
X_new.drop(categorical_vars, axis=1, inplace=True)
X_new

   input1  input2_B  input2_C  input3_Y
0       1       0.0       0.0       0.0
1       2       0.0       0.0       0.0
2       3       1.0       0.0       0.0
3       4       1.0       0.0       1.0
4       5       0.0       1.0       1.0